<div class="grid grid-nogutter text-center" *ngIf="inMaintenance">
    <div class="col-12">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    </div>
    <div class="col-12">
        <h2>Website Under Maintenance</h2>
        <h2>Maintenance Started at: {{inProgressMaintenance.startTime | date: 'medium'}}</h2>
        <h2>Maintenance Expected to Complete at: {{inProgressMaintenance.endTime | date: 'medium'}}</h2>
        <h2>{{currentTime | date:'medium'}}</h2>
    </div>
</div>
<div class="grid grid-nogutter" *ngIf="!inMaintenance">
    <div class="col-12 text-center">
        <h2>Website is Up and Running</h2>
    </div>
</div>