<h3 routerLink="/user/login" *ngIf="!isAdmin">Login to Manage Maitenance, Click here</h3>
<div class="grid grid-nogutter">
    <div class="col-12">
        <button pButton pRipple label="Schedule Maintenance" *ngIf="isAdmin"
            (click)="scheduleMaintenancePopUp = true"></button>
        <button pButton pRipple label="Load More" (click)="fetchMore()" [disabled]="!hasMore"></button>
    </div>
</div>
<div class="grid grid-nogutter">
    <div class="col-12">
        <p-table [value]="maintenance" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Description</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th *ngIf="isAdmin">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-maintenance>
                <tr>
                    <td>{{maintenance.description}}</td>
                    <td>{{maintenance.startTime | date: 'medium'}}</td>
                    <td>{{maintenance.endTime | date: 'medium'}}</td>
                    <td *ngIf="isAdmin">
                        <button pButton pRipple label="Delete" class="p-button-outlined p-button-danger"
                            (click)="delete(maintenance)" [disabled]="maintenance.deleting"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-dialog *ngIf="isAdmin" header="Add User" [(visible)]="scheduleMaintenancePopUp" [modal]="true"
    [style]="{width: '27vw'}" [draggable]="false" [resizable]="false" [closeIcon]="'false'">
    <div class="grid grid-nogutter">
        <form [formGroup]="maintenanceForm">
            <div class="col-12">
                <h3>Description: </h3>
                <input type="text" pInputText placeholder="Description" formControlName="description">
            </div>
            <div class="col-12">
                <h3>Start Time: </h3>
                <p-calendar placeholder="Start Time" [minDate]="minDate" formControlName="startTime" [showTime]="true"
                    [showSeconds]="true" [touchUI]="true" [hourFormat]="'24'" inputId="startTime"></p-calendar>
            </div>

            <div class="col-12">
                <h3>End Time: </h3>
                <p-calendar placeholder="End Time" [minDate]="minDate" formControlName="endTime" [showTime]="true"
                    [showSeconds]="true" [touchUI]="true" [hourFormat]="'24'" inputId="endTime"></p-calendar>
            </div>
            <div class="col-12">
                <button pButton pRipple label="Add" styleClass="p-button-text"
                    [disabled]="maintenanceForm.invalid || inProgress" (click)="scheduleMaintenance()"></button>
                <p-button icon="pi pi-check" (click)="scheduleMaintenancePopUp=false" label="Close"
                    styleClass="p-button-text" [disabled]="inProgress">
                </p-button>
            </div>
        </form>
    </div>
</p-dialog>